# Task - 1 Write a Python program to create a list, a dictionary, and a set. Perform basic operations like adding, removing, and modifying elements.

# 1. Lists
A list is a mutable, ordered collection of elements.

In [4]:
ls = [220760107,"rushik","vadadoriya","mainflow",56.34]

print("enrollment_no:",ls[0],"\nname:",ls[1],ls[2],"\ncompany:",ls[3])

enrollment_no: 220760107
name: rushik vadadoriya
company: mainflow

## operations on list

In [18]:
data = []

#Add elements:
data.append('rushik')
data.append(5000)
data.append('Main_flow')
 

print("data:",data)

#Insert elements:
data.insert(1,11205)
data.insert(4,'rolex')
data.insert(5,"A raju")

print("data inserted :",data)

#Remove elements:
data.remove("rolex")

print("data removed:",data)

data.pop()


print("data poped :",data)

data: ['rushik', 5000, 'Main_flow']
data inserted : ['rushik', 11205, 5000, 'Main_flow', 'rolex', 'A raju']
data removed: ['rushik', 11205, 5000, 'Main_flow', 'A raju']
data poped : ['rushik', 11205, 5000, 'Main_flow']

In [34]:
#Slicing:
print(data[1:4])
ls1 = [i for i in range(1,11)]
print("list : ",ls1)
#sorted
ls1.sort()
print("sorted list :",ls1)


ls1.reverse()
print("reverse list :",ls1)

[11205, 5000, 'Main_flow']
list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sorted list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse list : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 2. Tuples
A tuple is an immutable, ordered collection of elements.

In [49]:
tup = (12,23,34,2,2,56,2,24)

#Access elements
print(tup[0])

tup = tup + (5, 6)

print("tuple:",tup)

print("Count occurrences of 2:",tup.count(2))

12
tuple: (12, 23, 34, 2, 2, 56, 2, 24, 5, 6)
Count occurrences of 2: 3

## 3. Dictionaries
A dictionary is an unordered collection of key-value pairs.

In [63]:
dict = {'name':'rushik vadadoriya',
       'en_no':220760107,
       'dept':'computer eng.'}

In [64]:
print(dict['name'])

rushik vadadoriya

In [65]:
dict['age'] = 20
dict['collage']='ssasit'

In [66]:
#Looping through a dictionary:

for key, value in dict.items():
    print(key, value)

name rushik vadadoriya
en_no 220760107
dept computer eng.
age 20
collage ssasit

In [67]:
#Remove key-value pairs:
dict.pop('age')

20

In [68]:
print(dict)

{'name': 'rushik vadadoriya', 'en_no': 220760107, 'dept': 'computer eng.', 'collage': 'ssasit'}

## 4. Sets
A set is an unordered collection of unique elements.

In [69]:
s1 = {1,2,3,4,6}
print(s1)

{1, 2, 3, 4, 6}

In [71]:
s1.add(55)
print("added set:",s1)

s1.remove(2)
print("removed set:",s1)

added set: {1, 2, 3, 4, 6, 55}
removed set: {1, 3, 4, 6, 55}

In [72]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

print(set_a.union(set_b))  
print(set_a.intersection(set_b))  
print(set_a.difference(set_b))

{1, 2, 3, 4, 5}
{3}
{1, 2}